.main-menu__link:hover {
  color: #756257;
}

.main-menu__link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 5px;
}

.main-menu__link:active {
  color: #756257;
  opacity: 0.8;
}

.header-actions__btn:hover {
  background-color: #615048;
}

.header-actions__btn:focus {
  width: 160px;
  height: 37px;
  background: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.header-actions__btn:active {
  background-color: #615048;
  opacity: 0.8;
}

.hotel-search-btn:hover {
  background-color: #615048;
}

.hotel-search-btn:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.hotel-search-btn:active {
  background-color: #615048;
  opacity: 0.8;
}

.input-mail:hover {
  background-color: #E6E6E6;
}

.input-mail:focus {
  border: 3px solid #83B3D3;
}

.input-mail:active {
  border: 3px solid #000000;
}

.input-mail:invalid {
  border: 3px solid #FF5757;
}

.mailing_list-btn:hover {
  background-color: #68A2CA;
}

.mailing_list-btn:focus {
  border: 3px solid #756257;
}

.mailing_list-btn:active {
  opacity: 0.8;
}

.social-list-active:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.phone:hover {
  color: #756257;
}

.phone:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 15px;
}

.phone:active {
  color: #756257;
  opacity: 0.8;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs__link:active {
  opacity: 0.8;
}

.breadcrumbs__text:hover {
  opacity: 0.6; 
}

.breadcrumbs__text:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs__text:active {
  opacity: 0.8;
}

.min-price:hover {
  opacity: 0.6;
}

.min-price:focus {
  border: 3px solid #83B3D3;
}

.min-price:active {
  background-color: #756257;
}

.max-price:hover {
  opacity: 0.6;
}

.max-price:focus {
  border: 3px solid #83B3D3;
}

.max-price:active {
  background-color: #756257;
}

.toggle:hover {
  background-color: gainsboro;
}

.toggle:focus {
  border: 3px solid #83B3D3; 
}

.toggle:active {
  border: 2px solid #83B3D3;
}

.price-button:hover {
  background-color: #68A2CA;
}

.price-button:focus {
  background-color: #68A2CA;
  border: 2px solid white; 
}

.price-button:active {
  background-color: #68A2CA;
  opacity: 0.6;
}

.price-button__reset:hover {
  opacity: 0.6;
}

.price-button__reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.price-button__reset:active {
  opacity: 0.8;
}

.sort-list:hover {
  border: 2px solid #83B3D3;
}

.sort-list:focus {
  border: 2px solid #83B3D3;
}

.sort-list:active {
  opacity: 0.8;
}

.sort-mode__buttom:hover {
  border: 2px solid #83B3D3;
}

.sort-mode__buttom:focus {
  border: 2px solid #83B3D3;
}

.sort-mode__buttom:active {
  border: 2px solid black;
}

.hotel-list_photo:hover {
  opacity: 0.6;
}

.hotel-list_photo:focus {
  border: 3px solid #83B3D3;
}

.hotel-list_photo:active {
  opacity: 0.8;
}

.hotel-list__name:hover {
  color: #756257;
}

.hotel-list__name:focus {
  color: #756257;
  border: 3px solid #83B3D3;
}

.hotel-list__name:active {
  color: #756257;
  opacity: 0.8;
}

.hotel-card__more-btn:hover {
  background-color: #615048;
}

.hotel-card__more-btn:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.hotel-card__more-btn:active {
  background-color: #615048;
  opacity: 0.8;
}

.hotel-card__favorite-btn:hover {
  background-color: #68A2CA;
}

.hotel-card__favorite-btn:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.hotel-card__favorite-btn:active {
  background-color: #68A2CA;
  opacity: 0.8;
}

.button-liked:hover {
  background-color: #6C9E42;
}

.button-liked:focus {
  background-color: #6C9E42;
  border: 3px solid #756257;
}

.button-liked:active {
  background-color: #6C9E42;
  opacity: 0.8;
}

.load-more:hover {
  background-color: #68A2CA;
}

.pagination-number:hover {
  background-color: #68A2CA;
}
